<h1>Friends list</h1>
<div class="add-friend">
  <input type="text" [(ngModel)]="newFriend" placeholder="Friend name" />
  <button (click)="addFriend()">Add friend</button>
</div>
<div class="favorite">
  <p>My favorite people are:</p>
  <ul>
    <li *ngFor="let fav of favorites">{{ fav }}</li>
  </ul>
</div>
<div class="people">
  <app-people 
  *ngFor="let friend of people" 
  [name]="friend" 
  [isFav]="isInFavs(friend)"
  (addToFavs)="addToFavs($event)" 
  (deleteFromFavs)="deleteFromFavs($event)">
</app-people>
</div>
